@import "../../styles/function";
.play-controller-wrap{
  position:fixed;
  right:0;
  left:0;
  bottom:0;
  background:#fff;
  // height: pxtorem(42);
  box-sizing: border-box;
  padding:.2rem;
  z-index:102;
  .play-controller{
    display: flex;
    > a{
      display: flex;
      flex:1.0;
      text-decoration: none;
      color:#000;
    }
    .cover-img{
      width:pxtorem(42);
      height:pxtorem(42);
      img{
        display: block;
        width:100%;
        height:100%;
      }
    }
    .play-name{
      flex:1.0;
      display:flex;
      justify-content: center;
      flex-direction: column;
      padding-left:pxtorem(15);
      .top{
        font-size: 13px;
      }
      .bottom{
        font-size:12px;
      }
    }
    .play-btn{
      width:pxtorem(42);
      display: flex;
      align-items:center;
      justify-content:center;
      position: relative;
      .icon{
        padding-bottom:3px;
        margin-top:-3px;
        font-size:pxtorem(32);
        position: absolute;
        padding-top: 12px;
        margin-left:1px;
      }
    }
    .play-list{
      width:pxtorem(42);
      display: flex;
      align-items: center;
      justify-content:center;
      .icon{
        font-size:pxtorem(32);
      }
    }
  }
}

circle {
  -webkit-transition: stroke-dasharray .25s;
  transition: stroke-dasharray .25s;
}