.iconfont{
  padding:0 .5rem;
}
// .list-wrapper{
//   margin-right: -0.5rem;
//   overflow: scroll;
//   position: fixed;
//   top: 5.2rem;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   .list-col{
//     float: left;
//     width: 50%;
//     padding-right: .5rem;
//     overflow: hidden;
//     box-sizing: border-box;
//     height : 16rem;
//     a{
//       display: block;
//       text-decoration: none;
//       color: #000;
//     }
//     .list-media{

//       img {
//         width: 100%;
//         display: block;
//         min-height:12rem;
//         border:none
//       }
//       position: relative;
//       .listen-count{
//         position: absolute;
//         color: #fff;
//         top: 0;
//         right: 0;
//         left: 0;
//         font-size: .9rem;
//         display: block;
//         width: 100%;
//         text-align: right;
//         height: 2rem;
//         background: linear-gradient(top, rgba(78, 73, 73, 0.58), rgba(101, 101, 101, 0));
//       }
//       .list-creator{
//         font-size: .8rem;
//         position: absolute;
//         color: #fff;
//         bottom: 0;
//         left: 0;
//         right: 0;
//         width: 100%;
//         height: 2rem;
//         display: -webkit-box;
//         -webkit-box-align: end;
//         line-height: 1.4rem;
//         background: linear-gradient(bottom, rgba(78, 73, 73, 0.58), rgba(101, 101, 101, 0));
//       }
//     }
//     .list-name{
//       font-size: .9rem;
//       width: 100%;
//       height: 3rem;
//       display: -webkit-box;
//       -webkit-box-orient: vertical;
//       -ms-text-overflow: ellipsis;
//       text-overflow: ellipsis;
//       overflow: hidden;
//       -webkit-line-clamp: 2;
//       font-weight: normal;
//       padding: .52rem;
//       box-sizing: border-box;
//       padding-bottom: 0;
//       margin-bottom: .8rem;
//     }

//   }
// }