@import "../../styles/function";
$header_height:pxtorem(42);
.search-page{
  background: #fff;
  overflow: auto;
  ::-webkit-input-placeholder{
    color: rgba(255,255,255,.7);
  }
  .search-page-header{
      height: $header_height;
      background: #d33b30;
      color: #fff;

      display: flex;

      align-items: center;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:2;
    .head-back{
      width: pxtorem(48);
    }
    .search-input-wrapper{
      flex: 1.0;
      padding-right: pxtorem(25);
      .search-input{
        padding: pxtorem(4);
        border: none;
        width: 100%;
        display: block;
        border: none;
        background: transparent;
        border-bottom:pxtorem(1) solid #fff;
        color: #fff;

        &:focus{
          outline: none;
        }
      }
      .icon{
        top:pxtorem(1);
      }
    }
  }
  .search-content-list{
    position: fixed;
    top: $header_height;
    left:0;
    right:0;
    width:88%;
    margin: 0 auto;
    margin-top:pxtorem(42);
    background:#fff;
    box-shadow: pxtorem(0) pxtorem(4) pxtorem(6) pxtorem(6) #d8d8d8;
    z-index: 100;
    .item{
      padding:pxtorem(12) pxtorem(10);
    }
  }
  .search-result-list{
    background: #f0f4f3;
    .search-type-wrapper{
      overflow-x: auto;
      overflow-y:hidden;
      background: #fff;
      position: fixed;
      width: 100%;
      .search-type-content{
        display: block;
        .search-type-item{
          padding:0 pxtorem(12);
          height:pxtorem(40);
          line-height:pxtorem(40);
          display: inline-block;
          a{
            text-decoration: none;
            color:#000;
          }
          &-active{
            border-bottom:pxtorem(3) solid red;
            color:red;
          }

        }
      }
    }
    .search-list-wrapper{
      padding-top:pxtorem(40);
    }
    .search-list-item{
      display: flex;
      font-size: pxtorem(14);
      border-bottom:pxtorem(1) solid #ccc;
      align-items:center;
      padding:pxtorem(12) pxtorem(10);

      .search-list-left{
        flex:1.0;
        .song-name{
          margin-bottom: pxtorem(4);
        }
      }
      .search-list-right{
        width: pxtorem(24)
      }
    }

  }
  .history-list{
    display: flex;
    align-items: center;

    .list-right{
      display: flex;
      flex: 1.0;
      border-bottom: pxtorem(1) solid #ececec;
      padding:pxtorem(10) pxtorem(10);
      .history-word{
        flex:1.0;
      }
    }
    .icon{
      font-size:pxtorem(16);
    }
  }
}