@import 'src/styles/_function.scss';
.header{
  height: pxtorem(42);
  background: #d33b30;
  color: #fff;
  display: flex;
  align-items: center;
  .search-input-wrapper{
    position: relative;
    .icon{
      position: absolute;
      color:#ccc;
      font-size:pxtorem(20);
    }
  }
  .search-input{
    width:pxtorem(278);
    height:pxtorem(26);
    background:#fff;
    border:none;
    border-radius: pxtorem(13);
  }
  a{
    text-decoration: none;
    color:#fff;
  }
  &-left-menu{
    width: 2.8rem;
    display: flex;
    justify-content: center;
    .iconfont{
      font-size:1.3rem;
    }
  }
  &-menu{
    display: flex;
    flex: 1.0;
    justify-content: space-around;
    .iconfont{
      font-size:pxtorem(20);
    }
  }
  &-search{
    width: 2.8rem;
    display: flex;
    justify-content: center;
    .iconfont{
      font-size:1.3rem;
    }
  }
}
