@import 'src/styles/_function.scss';
.playlist-detail-page{
  position: relative;
  top:0;
  bottom:0;
  width:100%;
  background:#fff;
  .header{
    position: fixed;
    top:0;
    z-index: 100;
    width:100%;
    left:0;
    right:0;
    background:transparent;
    &-bg{
      width:100%;
      top:0;
      bottom:0;
      background:#ccc;
      position:absolute;
      z-index:-1;
    }
    .header-title{
      flex:1.0;
    }
    .header-right{
      width: 2.8rem;
    }
  }
}
.playlist-detail{
  padding-bottom:2.8rem;
  position:fixed;
  top:0;
  bottom:0;
  width:100%;
  overflow-y: scroll;
  .playlist-info{
    .playlist-top-wrap{
      position: relative;
      .playlist-top-content{
        padding: pxtorem(42) pxtorem(12) pxtorem(10) pxtorem(12);
      }
      .playlist-top-bg{
        position: absolute;
        z-index: -1;
        width:100%;
        height:100%;
        filter:blur(40px) saturate(1) brightness(.7);
        overflow: hidden;
      }
    }

    .playlist-info-top{
      display: flex;
      color:#fff;
      .playlist-info-top-left{
        flex:1.0;
        box-sizing: border-box;
        .left-content{
          width: 100%;
          position:relative;
          img{
            width: 100%;
            filter:brightness(.85);
          }
          .count{
            position:absolute;
            right:.5rem;
            top:0;
          }
        }
      }
      .playlist-info-top-right{
        flex:2.0;
        box-sizing: border-box;
        padding-left:1rem;
      }
    }
    .playlist-info-bottom{
      display: flex;
      > div{
        display: block;
        flex: 1.0;
        text-align: center;
        span{
          color:#fff;
        }
      }
    }
    .controler{
      display: flex;
    }
  }
}
.playlist-item{
  background:#F0F4F3;
  .playlist-item-li{
    display: flex;

    .playlist-no{
      width:pxtorem(40);
      text-align: center;
      padding:.8rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .playlist-music-info{
      border-bottom: 1px solid #D8DCDB;
      flex:1.0;
      padding:.8rem 0;
      text-overflow: ellipsis;
      overflow: hidden;
      .name{
        font-size:13px;
      }
      .artists-album{
        font-size:12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .playlist-more{
      border-bottom: 1px solid #F1F5F4;
      width:2.1rem;
      text-align:center;
      padding:.8rem 0;
    }
  }
}