@import "function";
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li{
    margin: 0px;
    padding: 0px;
}
.public-clearfix:after{
    display: block;
    content: "";
    height: 0;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}
ul,li{
    list-style: none;
}
.public-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight: normal;
}
.red-color{
    color:red;
}
.public-hidden{
    display: none;
}