@import 'src/styles/_function.scss';
.iconfont{
  padding:0 .5rem;
}
.list-wrapper{
  margin-right: -0.5rem;
  overflow: scroll;
  position: fixed;
  top: pxtorem(78);
  bottom: 0;
  left: 0;
  right: 0;
  // display:flex;
  // flex-flow: row wrap;
  margin-right:pxtorem(-3);
  .list-col{
    float: left;
    width: pxtorem(186);
    overflow: hidden;
    margin-right:pxtorem(3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height : pxtorem(186);
    a{
      display: block;
      text-decoration: none;
      color: #000;
    }
    .list-media{

      img {
        width: 100%;
        display: block;
        min-height:pxtorem(186);
        border:none
      }
      position: relative;
      .listen-count{
        position: absolute;
        color: #fff;
        top: 0;
        right: 0;
        left: 0;
        font-size: 13px;
        display: block;
        text-align: right;
        height: pxtorem(20);
        line-height: pxtorem(20);
        padding:0 pxtorem(4);
        background: -webkit-linear-gradient(top, rgba(78, 73, 73, 0.58), rgba(101, 101, 101, 0));
        background: linear-gradient(top, rgba(78, 73, 73, 0.58), rgba(101, 101, 101, 0));
        .icon{
          padding:0;
        }
      }
      .list-creator{
        font-size: 13px;
        position: absolute;
        color: #fff;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: pxtorem(20);
        display: -webkit-box;
        -webkit-box-align: end;
        line-height: pxtorem(20);
        background: -webkit-linear-gradient(bottom, rgba(78, 73, 73, 0.58), rgba(101, 101, 101, 0));
        background: linear-gradient(bottom, rgba(78, 73, 73, 0.58), rgba(101, 101, 101, 0));
        .icon{
          padding:0;
          margin:0 pxtorem(4);
        }
      }
    }
    .list-name{
      font-size: 13px;
      width: 100%;
      height: 3rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 2;
      font-weight: normal;
      padding: .52rem;
      box-sizing: border-box;
      padding-bottom: 0;
      margin-bottom: .8rem;
    }

  }
}