@import 'src/styles/_function.scss';
.playViewShow{
  transition: transform .4s;
  height:100%;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 103;
  transform: translate3d(0,0,0);
}
.playViewHide{
  transition: transform .4s;
  height:100%;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 103;
  transform: translate3d(0,100%,0);
}
.play-view{
  position: fixed;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  z-index: 100;
  background:#fdfdfd;

  .header{
    background: transparent;
    position:fixed;
    width: 100%;
    z-index: 101;
    border-bottom: 1px solid #fff;
    display: flex;
    color:#fff;
    align-items: center;
    &-back{
        .iconfont{
          font-size:pxtorem(15);
        }
    }
  }
  .play-view-bg{
    position:fixed;
    top:pxtorem(42);
    left:0;
    right:0;
    bottom:0;
    filter:blur(40px) saturate(1);
  }
  .disk-view-content-wrapper{
    position: absolute;
    top: pxtorem(42);
    overflow: auto;
    bottom:pxtorem(114);
    left:0;
    right:0;
    .play-view-img{
      transform:scale(.95);
    }
    .play-controller-icon{
      width:pxtorem(140);
      height:pxtorem(140);
      background: url(../../images/disk_controller_icon.png) no-repeat top center;
      background-size: 100%;
      margin-left:-5.3rem;
      left:50%;
      top:-1rem;
      transform-origin: 1rem 1rem;
      transform:translateX(4rem) rotate(0deg);
      transition: transform 1s;
      position: absolute;
      z-index: 110;
      &-rotate{
        @extend .play-controller-icon;
        transform: translateX(4rem) rotate(30deg)

      }

    }
    .disk-view-content{
      width:pxtorem(280);
      height:pxtorem(280);
      margin:0 auto;
      position:relative;
      display: flex;
      align-items: center;
      justify-content: center;
      top:pxtorem(70);
      &-active{
        @extend .disk-view-content;
        animation:diskRotate 7.5s linear infinite;
      }
      .disk-content-background{
        width:pxtorem(280);
        height:pxtorem(280);
        position: absolute;
        border-radius: 50%;
        border:.61rem solid rgba(138, 136, 123, 0.12);
        z-index: 10;
        &:before{
          content: '';
          display: block;
          width:pxtorem(280);
          height:pxtorem(280);
          background: url(../../images/disk_icon.png) no-repeat center center;
          background-size: 100%;
          position: absolute;
          z-index: 8;
        }
      }
      img{
        width:pxtorem(280);
        height:pxtorem(280);
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        z-index: 9;
      }
    }
    /*歌词*/
    .lyric-wrapper{
      position:absolute;
      left:0;
      right:0;
      text-align:center;

      .item{
        text-align: center;
        padding:6px 0;
        color:rgba(255,255,255,.6);
      }
      .currentLyric{
        color:#fff;
      }
    }
  }
  /*控制区*/
  .play-view-controller{
    position:fixed;
    bottom:1rem;
    left:0;
    right:0;
    z-index: 9;
    .item{
      display: flex;
      color:#fff;
      .iconfont{
        font-size:pxtorem(16);
      }
    }
    .controller-top{
      display: flex;
      .item{
        flex: 1.0;
        display: flex;
        align-items:center;
        justify-content:center;
      }
    }
    .controller-middle{
      display: flex;
      align-item:center;
      justify-content:center;
      .used-time{
        width:pxtorem(60);
        display: flex;
        justify-content:center;
        align-items:center;
      }
      .all-time{
        width:pxtorem(60);
        display: flex;
        justify-content:center;
        align-items:center;
      }
      .progress-wrapper{
        flex:1.0;
        display: flex;
        align-items:center;
      }
      .progress-bar{
        display: flex;
        height:.15rem;
        background:red;
        width:100%;
      }
    }
    .controller-bottom{
      display:flex;
      .item{
        display: flex;
        flex: 1.0;
        align-item:center;
        justify-content:center;
      }
    }
  }
}
@keyframes diskRotate {
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}