@import 'src/styles/_function.scss';
.online-menu{
  background: #fff;
  display: flex;
  height: pxtorem(36);
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  a{
    text-decoration: none;
    color:#000;
  }
  .item{
    padding: 0 0.8rem;
    height: pxtorem(36);
    line-height: pxtorem(36);
    display: inline-block;
  }
  .active{
    border-bottom: 2px solid red;
    color: red;
  }
}