.online-menu{
  background: #fff;
  display: flex;
  height: 2.4rem;
  justify-content: space-around;
  align-items: center;
  font-size: .8rem;
  a{
    text-decoration: none;
    color:#000;
  }
  .item{

  }
}