.online-menu{
  background: #fff;
  display: flex;
  height: 2.4rem;
  justify-content: space-around;
  align-items: center;
  font-size: .8rem;
  a{
    text-decoration: none;
    color:#000;
  }
  .item{
    padding: 0 0.8rem;
    height: 2.2rem;
    line-height: 2.2rem;
    display: inline-block;
  }
  .active{
    border-bottom: 0.2rem solid red;
    color: red;
  }
}